nav {

  height: 120px;
  display: flex;
  margin: 0;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0em 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}


nav a:hover {
  color: #4056A1;
}